body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://th.bing.com/th/id/OIP.FL8iNcAy95MHSJQUTiQoXQHaFj?pid=ImgDet&w=474&h=355&rs=1');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar {
    background-color: rgba(8, 1, 1, 0.897);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar h1 {
    margin: 0;
}

.logout-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    /* margin-left: 20px; Adjust as needed */
}


.greeting {
    font-size: 2rem;
    margin-bottom: 1rem;
    /* background-color: aqua; */
    color: rgb(224, 195, 195);
}

.action-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-btn:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

.footer a:hover {
    text-decoration: underline;
}
